<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MEATHEAD</title>

  	<link rel="stylesheet" type="text/css" href="assets/style/style.css">
		
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.js" 
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"> </script>

	<script src="assets/logic/logic.js" type="text/javascript"></script>

</head>

<body>

<nav id="main-head" class="navbar-fixed-top container-fluid">
	<div class="row">
		<div class="col-xs-4"> </div>
		<div class="col-xs-4"> </div>
		<div class="col-xs-4 form-inline" id="nav-box">
			<a class="btn btn-default" id="go-home" href="/"> log </a>
			<a class="btn btn-default" id="go-traininglog" href="/setlog"> view </a>
		</div>
	</div>
</nav>

<div id="main-body" class="container-fluid">
	{{{body}}}
</div>

<nav class="navbar-fixed-bottom">
	<div id="main-foot" class="container-fluid"> nice to meat you </div>
</nav>

</body>

</html>

