body,html {
	background-color: gainsboro;
}

#main-head {
	padding-top: 5px;
	text-align: center;
	background-color: black;
	height: 45px;
	color: white;
}

#main-foot {
	text-align: center;
	background-color: black;
	height: 30px;
	color: white;
}

#main-body {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: gainsboro;
}

#main-display {
	text-align: center;
}

.b55 {
	background-color: red;
	color: white;
}

.b45 {
	background-color: blue;
	color: white;
}

.b35 {
	background-color: yellow;
}

.b25 {
	background-color: green;
	color: white;
}

.b10 {
	background-color: gray;
	color: white;
}

.b5 {
	background-color: lightgray;
}

.plate {
	width: 80px;
}

#begin-log{
	background-color: black;
	color: white;
}

#submit-log{
	background-color: springgreen;
}

#repup, #repdown {
	border: 1px solid black;
	color: white;
	background-color: steelblue;
}

#setup, #setdown {
	border: 1px solid black;
	color: white;
	background-color: teal;
}

#set-display {
	color: teal;
}

#rep-display {
	color: steelblue;
}

#add-movement-submit {
	background-color: white;
}
