body,html {
	background-color: gainsboro;
}

#main-head {
	padding-top: 5px;
	text-align: center;
	background-color: black;
	height: 45px;
	color: white;
}

.nav-button {
	color: white;
}

#main-body {
	margin-top: 70px;
	background-color: gainsboro;
}

#main-display {
	text-align: center;
}

.b55 {
	background-color: red;
	color: white;
}

.b45 {
	background-color: blue;
	color: white;
}

.b35 {
	background-color: yellow;
}

.b25 {
	background-color: green;
	color: white;
}

.b10 {
	background-color: gray;
	color: white;
}

.b5 {
	background-color: lightgray;
}

.b2p5 {
	background-color: aliceblue;
}

.plate {
	width: 80px;
}

#begin-log{
	background-color: springgreen;
	color: black;
	border: 1px solid black;
}

#submit-log{
	background-color: springgreen;
}

#repup, #repdown {
	border: 1px solid black;
	color: white;
	background-color: darkviolet;
}

#rep-display {
	color: darkviolet;
}

#setup, #setdown {
	border: 1px solid black;
	color: white;
	background-color: deeppink;
}


#set-display {
	color: deeppink;
}


#add-movement-submit {
	background-color: white;
}

.modal-dialog {
        position: absolute;
        top: 100px;
        right: 100px;
        bottom: 0;
        left: 0;
        z-index: 10040;
        overflow: auto;
        overflow-y: auto;
}

.get-notes, .get-conditions {
	background-color: white;
}

.get-notes:hover, .get-conditions:hover {
	background-color: yellow;
}

.table-data:hover {
	background-color: palegreen;
}

#closeme {
	color: red;
}

.proxyplate55 {
	background-color: red;
	color: red;
}

.proxyplate45 {
	background-color: blue;
	color: blue;
}

.proxyplate35 {
	background-color: yellow;
	color: yellow;
}

.proxyplate25 {
	background-color: green;
	color: green;
}

.proxyplate10 {
	background-color: gray;
	color: gray;
}

.proxyplate5 {
	background-color: lightgray;
	color: lightgray;
}

.proxyplate2p5 {
	background-color: aliceblue;
	color: aliceblue;
}

.pp {
	border: 1px solid black;
	padding-bottom: 5px;
}

#bb-weight-element{
	color: ghostwhite;
	padding-bottom: 5px;
}