
#main-head {
	text-align: center;
	background-color: black;
	height: 30px;
	color: white;
}

#main-foot {
	text-align: center;
	background-color: black;
	height: 30px;
	color: white;
}

#main-body {
	margin-top: 50px;
	margin-bottom: 50px;
}

#main-display {
	text-align: center;
}

.b55 {
	background-color: red;
}

.b45 {
	background-color: blue;
}

.b35 {
	background-color: yellow;
}

.b25 {
	background-color: green;
}

.b10 {
	background-color: gray;
}

.b5 {
	background-color: lightgray;
}

.plate {
	width: 80px;
}

#submit-log{
	background-color: black;
	color: white;
}