<div class="panel panel-default">
	<div class="panel-heading">
		controls
	</div>

	<div class="panel-body">
		<form id="add-t-movements" class="form-inline">
			<div class="form-group">
				<input class="form-control" type="text" id="t-movements-input"></div>
				<button class="btn btn-default" type="submit"> add movement </button>
			</div>
		</form>

		<form id="add-t-conditions" class="form-inline">
			<div class="form-group">
				<input class="form-control" type="text" id="t-conditions-input"></div>
				<button class="btn btn-default" type="submit"> add movement </button>
			</div>
		</form>
	</div>
</div>