<script src="assets/logic/controls.js" type="text/javascript"></script>

<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
			add movement
		</div>

		<div class="panel-body">

			<form id="add-t-movements" class="form-inline">
				<div class="form-group">
					<input class="form-control" type="text" id="t-movements-input"></div>
					<button class="btn btn-default" type="submit"> submit </button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
			add condition
		</div>

		<div class="panel-body">

			<form id="add-t-conditions" class="form-inline">
				<div class="form-group">
					<input class="form-control" type="text" id="t-conditions-input"></div>
					<button class="btn btn-default" type="submit"> submit </button>
				</div>
			</form>

		</div>
	</div>
</div>