<div class="panel panel-default" id="bb-box">
	<div class="panel-body"> 
		<button class="btn" id="bb45"> 45lb barbell </button>
		<button class="btn" id="bb55"> 55lb barbell </button>
		<button class="btn" id="bb-clear"> clear barbell </button>
	</div>
</div>

<div class="container-fluid">
	<div class="row" id="main-display">
		<div class="col-xs-1"> </div>
		<div class="col-xs-2"> <h1 id="bb-display"> 45 </h1> </div>
		<div class="col-xs-2"> <h1>  </h1> </div>
		<div class="col-xs-2"> <h1 id="set-display">  1 </h1> </div>
		<div class="col-xs-2"> <h1>  x </h1> </div>
		<div class="col-xs-2"> <h1 id="rep-display"> 0 </h1> </div>
		<div class="col-xs-1"> </div>
	</div>
</div>

<div class="panel panel-default" id="load-box">
	<div class="panel-heading" id="bb-emulator"> =========[45]========== </div>
	<div class="form-inline panel-body">
		<button class="btn plate b55" value="55"> <strong> 55 </strong> </button>
		<button class="btn plate b45" value="45"> <strong> 45 </strong> </button>
		<button class="btn plate b35" value="35"> <strong> 35 </strong> </button>
		<button class="btn plate b25" value="25"> <strong> 25 </strong> </button>
		<button class="btn plate b10" value="10"> <strong> 10 </strong> </button>
		<button class="btn plate b5" value="5"> <strong> 5 </strong> </button>
		<button class="btn plate b2.5" value="2.5"> <strong> 2.5 </strong> </button>
		<button class="btn" id="toggle-enter"> switch </button>
	</div>
</div>

<div class="panel panel-default" id="enter-box">
  	<div class="panel-heading">
  		enter weight 
  		<a id="custom-display"> 0 </a> 
  	</div>
	<div class="btn-group panel-body">
		<button class="btn numbtn" value="0"> <strong> 0 </strong> </button>
		<button class="btn numbtn" value="1"> <strong> 1 </strong> </button>
		<button class="btn numbtn" value="2"> <strong> 2 </strong> </button>
		<button class="btn numbtn" value="3"> <strong> 3 </strong> </button>
		<button class="btn numbtn" value="4"> <strong> 4 </strong> </button>
		<button class="btn numbtn" value="5"> <strong> 5 </strong> </button>
		<button class="btn numbtn" value="6"> <strong> 6 </strong> </button>
		<button class="btn numbtn" value="7"> <strong> 7 </strong> </button>
		<button class="btn numbtn" value="8"> <strong> 8 </strong> </button>
		<button class="btn numbtn" value="9"> <strong> 9 </strong> </button>
	</div>
	<button class="btn" id="custom-backspace"> back </button>
	<button class="btn" id="set-custom"> set weight </button>
	<button class="btn" id="toggle-load"> switch </button>
</div>

<div class="panel panel-default" id="rep-box">	
	<div class="panel-body">
		<label> sets </label>
		<div class="btn-group">
			<button class="btn" id="setup"> <strong> + </strong> </button>
			<button class="btn" id="setdown"> <strong> - </strong> </button>
		</div>

		<label> reps </label>
		<div class="btn-group">
			<button class="btn" id="repup"> <strong> + </strong> </button>
			<button class="btn" id="repdown"> <strong> - </strong> </button>
		</div>
	</div>
</div>

<button class="btn" id="begin-log"> log </button>

<!-- Modal -->
<div id="home-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="closeme">x</button>
        <h4 class="modal-title" id="home-modal-head">NO DATA</h4>
      </div>
      <div class="modal-body" id="home-modal-body">
        <div class="btn-group panel-body">
			<form class="form-inline">
				<div class="form-group">
					<select class="form-control" id="select-movement">
						{{#each movement}}
			                <option value={{movement_id}}> {{movement_name}} </option>
			            {{/each}}
			        </select>
		        </div>

		        <div class="form-group">
		        	<select class="form-control" id="select-rpe">
		        		<option value=0 selected="selected"> no rpe </option>
		        		<option value=5> 5 </option>
		        		<option value=5.5> 5.5 </option>
		        		<option value=6> 6 </option>
		        		<option value=6.5> 6.5 </option>
		        		<option value=7> 7 </option>
		        		<option value=7.5> 7.5 </option>
		        		<option value=8> 8 </option>
		        		<option value=8.5> 8.5 </option>
		        		<option value=9> 9 </option>
		        		<option value=9.5> 9.5 </option>
		        	</select>
		        </div>


		        <button class="btn" type="submit" id="submit-log"> submit </button>
	        </form>
		</div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>