<div class="container-fluid">
	<div class="row" id="main-display">
		<div class="col"> <h1 id="bb-display"> 45 </h1> </div>
		<div class="col"> <h1 id="set-display">  1 </h1> </div>
		<div class="col"> <h2>  x </h2> </div>
		<div class="col"> <h1 id="rep-display"> 0 </h1> </div>
		<div class="col-2">
			<button class="btn btn-lg" id="begin-log"> SUBMIT! </button>	 
		</div>
	</div>
</div>
<br>
<div class="card" id="load-box">
	<div class="card-header" id="bb-emulator">
		<span class="badge badge-secondary pb" id="bb-weight-element"> |||[|][|][|][|][|][45][|][|][|][|][|]||| </span>
	</div>
	<div class="card-body">
		<button class="btn btn-lg plate b55" value="55"> <strong> 55 </strong> </button>
		<button class="btn btn-lg plate b45" value="45"> <strong> 45 </strong> </button>
		<button class="btn btn-lg plate b35" value="35"> <strong> 35 </strong> </button>
		<button class="btn btn-lg plate b25" value="25"> <strong> 25 </strong> </button>
		<button class="btn btn-lg plate b10" value="10"> <strong> 10 </strong> </button>
		<button class="btn btn-lg plate b5" value="5"> <strong> 5 </strong> </button>
		<button class="btn btn-lg plate b2p5" value="2.5"> <strong> 2.5 </strong> </button>
		<button class="btn btn-lg" id="toggle-enter"> switch </button>
	</div>
</div>

<div class="card" id="enter-box">
  	<div class="card-header">
  		enter weight 
  		<a id="custom-display"> 0 </a> 
  	</div>
	<div class="card-body">
		<div class="btn-group">
			<button class="btn btn-lg numbtn" value="0"> <strong> 0 </strong> </button>
			<button class="btn btn-lg numbtn" value="1"> <strong> 1 </strong> </button>
			<button class="btn btn-lg numbtn" value="2"> <strong> 2 </strong> </button>
			<button class="btn btn-lg numbtn" value="3"> <strong> 3 </strong> </button>
			<button class="btn btn-lg numbtn" value="4"> <strong> 4 </strong> </button>
			<button class="btn btn-lg numbtn" value="5"> <strong> 5 </strong> </button>
			<button class="btn btn-lg numbtn" value="6"> <strong> 6 </strong> </button>
			<button class="btn btn-lg numbtn" value="7"> <strong> 7 </strong> </button>
			<button class="btn btn-lg numbtn" value="8"> <strong> 8 </strong> </button>
			<button class="btn btn-lg numbtn" value="9"> <strong> 9 </strong> </button>
		</div>
		<button class="btn btn-lg" id="custom-backspace"> back </button>
		<button class="btn btn-lg" id="set-custom"> set weight </button>
		<button class="btn btn-lg" id="toggle-load"> switch </button>
	</div>
</div>

<div class="card" id="bb-box">
	<div class="card-body"> 
		<button class="btn btn-lg" id="bb-clear"> CLEAR </button>
		<button class="btn btn-lg" id="bb45"> 45lb barbell </button>
		<button class="btn btn-lg" id="bb55"> 55lb barbell </button>
	</div>
</div>


<div class="card" id="rep-box">	
	<div class="card-body">
		<label> sets </label>
		<div class="btn-group">
			<button class="btn btn-lg" id="setup"> <strong> + </strong> </button>
			<button class="btn btn-lg" id="setdown"> <strong> - </strong> </button>
		</div>

		<label> reps </label>
		<div class="btn-group">
			<button class="btn btn-lg" id="repup"> <strong> + </strong> </button>
			<button class="btn btn-lg" id="repdown"> <strong> - </strong> </button>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="home-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
    	<div class="modal-header">
    		<h4 class="modal-title" id="home-modal-head">NO DATA</h4>
    		<button type="button" class="close" data-dismiss="modal" id="closeme">x</button>
    	</div>

    	<div class="modal-body" id="home-modal-body">
    		<div class="container-fluid">
    			<form>
	    			<div class="row">
						<div class="col form-group">
							<select class="form-control" id="select-movement">
								{{#each movement}}
					                <option value={{movement_id}}> {{movement_name}} </option>
					            {{/each}}
					        </select>
				        </div>

				        <div class="col form-group">
				        	<select class="form-control" id="select-rpe">
				        		<option value=0 selected="selected"> no rpe </option>
				        		<option value=5> 5 </option>
				        		<option value=5.5> 5.5 </option>
				        		<option value=6> 6 </option>
				        		<option value=6.5> 6.5 </option>
				        		<option value=7> 7 </option>
				        		<option value=7.5> 7.5 </option>
				        		<option value=8> 8 </option>
				        		<option value=8.5> 8.5 </option>
				        		<option value=9> 9 </option>
				        		<option value=9.5> 9.5 </option>
				        		<option value=9.5> 10 </option>
				        	</select>
				        </div>
				    </div>

					<div class="row">
						<div class="col form-group">
				        	<button class="btn input-search" type="submit" id="submit-log"> LOG DATA </button>
				        </div>
				    </div>
				</div>
	        </form>
	    </div>
    </div>

  </div>
</div>