<h1 id="bb-display"> 0 </h1>

<div class="panel panel-default">
	<div class="panel-heading"> 
		barbell 
	</div>

	<div class="panel-body"> 
		<button class="btn" id="bb45"> 45lb barbell </button>
		<button class="btn" id="bb55"> 55lb barbell </button>
		<button class="btn" id="bb-clear"> clear barbell </button>
	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-heading">load plate (on each side)</div>
	<div class="btn-group panel-body">
		<button class="btn plate b55" value="55"> <strong> 55 </strong> </button>
		<button class="btn plate b45" value="45"> <strong> 45 </strong> </button>
		<button class="btn plate b35" value="35"> <strong> 35 </strong> </button>
		<button class="btn plate b25" value="25"> <strong> 25 </strong> </button>
		<button class="btn plate b10" value="10"> <strong> 10 </strong> </button>
		<button class="btn plate b5" value="5"> <strong> 5 </strong> </button>
		<button class="btn plate b2.5" value="2.5"> <strong> 2.5 </strong> </button>
	</div>
</div>