<div class="container-fluid">
	<div class="row" id="main-display">
		<div class="col-xs-4"> <h1 id="bb-display"> 0 </h1> </div>
		<div class="col-xs-4"> <h1> x </h1> </div>
		<div class="col-xs-4"> <h1 id="rep-display"> 0 </h1> </div>
	</div>
</div>

<div class="panel panel-default" id="bb-box">
	<div class="panel-heading"> 
		barbell 
		<a id="bb-accounted"> not accounted for! </a>
	</div>

	<div class="panel-body"> 
		<button class="btn" id="bb45"> 45lb barbell </button>
		<button class="btn" id="bb55"> 55lb barbell </button>
		<button class="btn" id="bb-clear"> clear barbell </button>
	</div>
</div>

<div class="panel panel-default" id="load-box">
  	<div class="panel-heading">
  		<button class="btn" id="toggle-enter"> switch </button>
  		load plate (on each side)
  	</div>
	<div class="btn-group panel-body">
		<button class="btn plate b55" value="55"> <strong> 55 </strong> </button>
		<button class="btn plate b45" value="45"> <strong> 45 </strong> </button>
		<button class="btn plate b35" value="35"> <strong> 35 </strong> </button>
		<button class="btn plate b25" value="25"> <strong> 25 </strong> </button>
		<button class="btn plate b10" value="10"> <strong> 10 </strong> </button>
		<button class="btn plate b5" value="5"> <strong> 5 </strong> </button>
		<button class="btn plate b2.5" value="2.5"> <strong> 2.5 </strong> </button>
	</div>
</div>

<div class="panel panel-default" id="enter-box">
  	<div class="panel-heading">
  		<button class="btn" id="toggle-load"> switch </button>
  		enter weight 
  		<a id="custom-display"> 0 </a> 
  	</div>
	<div class="btn-group panel-body">
		<button class="btn numbtn" value="0"> <strong> 0 </strong> </button>
		<button class="btn numbtn" value="1"> <strong> 1 </strong> </button>
		<button class="btn numbtn" value="2"> <strong> 2 </strong> </button>
		<button class="btn numbtn" value="3"> <strong> 3 </strong> </button>
		<button class="btn numbtn" value="4"> <strong> 4 </strong> </button>
		<button class="btn numbtn" value="5"> <strong> 5 </strong> </button>
		<button class="btn numbtn" value="6"> <strong> 6 </strong> </button>
		<button class="btn numbtn" value="7"> <strong> 7 </strong> </button>
		<button class="btn numbtn" value="8"> <strong> 8 </strong> </button>
		<button class="btn numbtn" value="9"> <strong> 9 </strong> </button>
	</div>
	<button class="btn" id="custom-backspace"> back </button>
	<button class="btn" id="set-custom"> set weight </button>
</div>

<div class="panel panel-default" id="rep-box">
  	<div class="panel-heading">
  		reps 
  	</div>

	<div class="btn-group panel-body">
		<button class="btn" id="repup"> <strong> +1 </strong> </button>
		<button class="btn" id="repdown"> <strong> -1 </strong> </button>
	</div>
</div>

<div class="panel panel-default" id="log-box">
  	<div class="panel-heading">
  		Log 
  	</div>

	<div class="btn-group panel-body">

		<form class="form-inline" id="new-movement-form">

			<div class="form-group">
				<input type="text" class="form-control" id="new-movement-input" placeholder="name">
			</div>

			<div class="form-group">
				<button class="btn" type="submit"> add movement </button>
			</div>
		</form>

		<form class="form-inline" id="new-condition-form">

			<div class="form-group">
				<input type="text" class="form-control" id="new-condition-input" placeholder="name">
			</div>

			<div class="form-group">
				<button class="btn" type="submit"> add condition </button>
			</div>
		</form>

		<select>
			{{#each movement}}
                <option> {{name}}
            {{/each}}
        </select>

        <select>
			{{#each condition}}
                <option> {{name}}
            {{/each}}
        </select>

		<button class="btn" type="submit" id="submit-log"> submit </button>
	</div>


</div>

<button class="btn" id="begin-log"> log </button>